apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: vault-secrets-provider
spec:
  provider: gcp
  parameters:
    secrets: |
      - resourceName: "projects/your-project/secrets/vault-db-url/versions/latest"
        fileName: "database_url"
      - resourceName: "projects/your-project/secrets/vault-signing-key/versions/latest"
        fileName: "private.key"
  secretObjects: # Automatically syncs to a K8s Secret for the ENV var
  - secretName: vault-db-secrets-sync
    type: Opaque
    data:
    - objectName: database_url
      key: url
